<div class="flex-1 bg-gray-100">
  <!-- Header -->
  <div class="bg-white shadow py-4 px-8 flex items-center justify-between">
    <h2 class="text-xl font-semibold">Dashboard</h2>
    <div class="flex items-center">
      <div class="relative">
        <button (click)="openSearch()">search</button>
        <app-transaction-search-modal *ngIf="isSearchOpened" (close)="closeSearch()"></app-transaction-search-modal>
      </div>
      <div class="ml-6 flex items-center">
        <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Join</button>
        <div class="ml-4">🔔</div>
        <!-- <div class="ml-4">👤 anasyatiara05@gmail.com</div> -->
      </div>
    </div>
  </div>